div.unit-row {
    display: flex;
    flex-direction: row;
    border-radius: 4px;
    border: 1px solid blue;
    padding: 5px;
    margin: 4px;
    justify-content: space-around;
}

div.unit-cell {
    padding: 4px 0;
    width: 15%;
    text-align: center;
    font-size: 0.6em;
    height: 40px;
    margin: 3px 0;
    position: absolute;
    text-align: center;
    background: rgb(2, 5, 123);
    color: white;
    font-family: sans-serif;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
}

div.level-row {
    height: 54px;
    position: relative;
    border-bottom: 1px solid grey;
}